rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite a un usuario autenticado leer y escribir archivos
    // únicamente dentro de su propia carpeta (identificada por su UID).
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
