@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 50% 97%;
    --foreground: 141 29% 20%;
    --card: 140 50% 100%;
    --card-foreground: 141 29% 20%;
    --popover: 140 50% 100%;
    --popover-foreground: 141 29% 20%;
    --primary: 199 100% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 141 15% 90%;
    --secondary-foreground: 199 100% 42%;
    --muted: 141 15% 90%;
    --muted-foreground: 141 15% 40%;
    --accent: 199 90% 92%;
    --accent-foreground: 199 100% 32%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 141 15% 85%;
    --input: 141 15% 85%;
    --ring: 199 100% 42%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 199 10% 12%;
    --foreground: 140 50% 97%;
    --card: 199 10% 15%;
    --card-foreground: 140 50% 97%;
    --popover: 199 10% 15%;
    --popover-foreground: 140 50% 97%;
    --primary: 199 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 199 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 199 10% 25%;
    --muted-foreground: 199 10% 65%;
    --accent: 199 90% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 199 10% 25%;
    --input: 199 10% 25%;
    --ring: 199 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
